.product-carousel-section {
  max-width: 1200px;
  margin: 0;
  padding: 0.5rem;
}
.product-carousel-section h2 {
  font-size: 1.5rem;
  color: #0C0A4E;
  text-align: center;
  padding: 0.2rem;
  font-weight: 900;
  font-variant: all-small-caps;
}

.product-carousel-container {
  position: relative;
  overflow: hidden;
}

.product-carousel-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-carousel-container .product-card {
  width: calc(25% - 0.75rem);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  -webkit-box-shadow: 0.1rem 1px 0.3rem grey;
          box-shadow: 0.1rem 1px 0.3rem grey;
}
@media (max-width: 992px) {
  .product-carousel-container .product-card {
    width: calc(33.333% - 0.67rem);
  }
}
@media (max-width: 768px) {
  .product-carousel-container .product-card {
    width: calc(50% - 0.5rem);
  }
}
@media (max-width: 480px) {
  .product-carousel-container .product-card {
    width: 50%;
  }
}
.product-carousel-container .product-card h3 {
  height: 70px;
  font-size: 0.7rem;
}
.product-carousel-container .product-card .price-container {
  height: 70px;
  min-height: 50px;
}

.product-carousel-container .carousel-control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  z-index: 10;
}
.product-carousel-container .carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.product-carousel-container .carousel-control.prev {
  left: 10px;
}
.product-carousel-container .carousel-control.next {
  right: 10px;
}