.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  background-color: #ffffff;
  border-bottom: 1px solid $border-color;
  flex-shrink: 0;
  z-index: 900;
  
  .logo img { 
    max-height: 30px; 
    width: auto;
    filter: invert(1);
  }

  .admin-info {
    color: $text-color;
    font-weight: 500;
  }

  .dashboard-menu-toggle {
    display: none; // Se activará con media queries para móviles
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
}